<div class="container">
    <div>
        <h2>Add An Employee :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Employee ID</label>
            <input type="text" [(ngModel)]="newEmployee.employeeid" name="employeeid" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Employee Name</label>
            <input type="text"[(ngModel)]= "newEmployee.employeename" name="employeename" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Employee Role</label>
            <input type="text" [(ngModel)]= "newEmployee.employeerole" name="employeerole" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Hire Date</label>
            <input type="date" [(ngModel)]= "newEmployee.employeehiredate" name="employeehiredate" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Restaurant</label>
            <select class="form-control form-control-lg" id="restaurantid" name="restaurantid" [(ngModel)]="newRestaurantid">
                <option *ngFor="let res of restaurants" [value]="res.restaurantid">
                    {{res.restaurantname}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addEmployee()" class="btn btn-success">Add</button>
        </div>
    </form>
</div>